<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("partials/head") %>
</head>
<body>

    <%- include('partials/navigations') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit numquam nulla cupiditate tempora qui ipsa nihil, fugit aliquid nesciunt debitis mollitia soluta commodi minus temporibus ipsum quidem, nisi doloremque corrupti? Quia facilis dolor voluptas ut soluta aliquid possimus rerum facere omnis voluptatibus dignissimos quo consequuntur, error sequi. Ipsum ut fugiat facilis aut, qui maiores sapiente tenetur ipsam, rerum iusto adipisci, velit consequatur dolore asperiores nisi beatae. Explicabo ad quia rem, architecto amet aliquam reiciendis? Nam, aperiam aut. Vitae dolorum velit, ipsum enim sequi eum excepturi amet in dolorem dolores necessitatibus ullam molestiae nesciunt ex consectetur! Voluptatem veniam corrupti adipisci atque doloremque nihil quibusdam totam molestias iusto qui. Ut culpa necessitatibus nemo vitae delectus sequi vero hic error quos nisi enim eligendi quod, sit nostrum tempore soluta odio dolore incidunt et. Minus hic pariatur neque aspernatur nulla tenetur! Voluptate, laboriosam. Molestiae exercitationem quae, itaque sapiente delectus velit odit officiis eaque, excepturi quibusdam doloribus dolor suscipit vero ipsum? Excepturi qui laudantium molestias doloribus dolor, architecto quam numquam provident exercitationem minus temporibus facere cumque! Repellat, blanditiis sunt porro accusamus officia velit, rerum id recusandae odit neque, ullam aperiam sed hic! Molestias beatae quae inventore! Tempora quia ea, praesentium impedit explicabo minima eligendi soluta velit possimus nam ullam harum quod non nulla eos eius consequuntur reiciendis accusamus nobis similique quibusdam inventore ut iure temporibus. Dicta rerum sit dolores, unde atque, nesciunt accusantium minus ducimus nam, maxime nisi laboriosam! Laborum totam a velit! Velit ducimus cupiditate nemo est, quae atque itaque harum. Officia porro optio doloremque impedit temporibus. Obcaecati repellat quidem dolores aspernatur blanditiis natus possimus adipisci unde nostrum, eius, odio nam, molestias quas saepe vitae eos architecto suscipit ab placeat eaque illo eveniet deleniti. Vitae velit autem, dolores voluptatum fuga, aliquam beatae aperiam, ex placeat expedita recusandae quisquam ad porro suscipit nulla magni repudiandae?</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>